*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    margin-top: 50px;
    font-size: 18px;
    width: 100%;
    background-image: url(../img/Rectangle1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
header .fa-barsicon{
    text-align: center;
    display: none;
    padding-left: 250px;
    color: #C4C4C4;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    width: 582px;
    margin-left: 600px;

}
ul a{
    border-radius: 0 35px;
    background-color: #C4C4C4;
    padding: 20px;
    color: #000000;
    transition: 1s;
    display: block;

}
ul a:hover{
   background-color: #79B331;
   color: #ffffff;
   transition: 1s;
}
.border{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-top: 110px;
    margin-right: 214px;
}
h3{
    font-size: 36px;
    padding-top: 20px;

}
.wre{
    width: 32px;
    height: 32px;
    background-color: #79B331;
    border-radius: 50px;
    position: relative;
    animation: wre0 5s infinite;
    margin: 10px -32px;
}

@keyframes wre0{
    0%{top:0; left:0;}
    25%{top:0; left:336px;}
    50%{top:130px; left:336px;}
    75%{top:130px; left: 0;}
    100%{top:0; left:0;}
}


.bigdivi{
    display: flex;
    justify-content: space-evenly;
    width: 155%;
    /* height: 500px; */
    margin-left: -280px;
    margin-top: 126px;
    position: relative;
    font-size: 18px;

    
}

.one, .two, .three, .four{
    display: flex;
    position: absolute;
    width: 110%;
    text-align: justify;


}
.one:hover, .two:hover, .three:hover, .four:hover{
    color: #79B331;
    cursor: pointer;
}
.leaf:hover{
    background-color: #79B331;
}
.one{
   top: 0;
   right: 50%;
   padding-left: 70px;
   
}
.two{
    top: 220px;
    right: 50%;
    

}
.three{
    top: 110px;
    left: 50%;
    padding-right: 40px;

}
.four{
    top: 330px;
    left: 50%;
    padding-right: 40px;

}

.line{
 
    height: 406px;
    width: 2px;
    background-color: #C4C4C4;
    left: 50%;
    margin-top: 70px;
    position: absolute;
      
}
.leaf{
    width: 70px;
    height: 70px;
    background-color: #C4C4C4;
    border-radius: 0 35px;

}
.three .leaf, .four .leaf{
    transform: rotate(90deg);
}
@media only screen and (max-width: 1024px) {
    .three .leaf, .four .leaf{
        transform: rotate(180deg);
    }
    .main {
        flex-direction: column;
        width: 100%;
        justify-items: center;
   
      
    }
    body{
        /* background-position-y: 200px; */
        background-position-x: -200px;
        background-size: 200%;
        

    }
    header ul{
        margin-left: 250px;
        align-content: center;

    }
    .three, .four{
        left: 0;
        flex-direction: row-reverse;
        padding: 0;
        
    }
    .one, .two{
        right: 0;
        padding: 0;
    }
    .line{
        left: 100%;
    }

    .bigdivi{
        margin-left: 0px;
        justify-items: center;
        margin-top: 400px;
                  

    }
    .one, .two, .three, .four{

    width: 100%;
    
    }
    .text{
        margin-right: 20px;
        width: 100%;
    }

}


  @media only screen and (max-width: 415px) {
    header .fa-barsicon{
        display: block;
    }
    body{
        background-size: 320%;
        background-position-x: -400px;
        font-size: 16px;
    }
    ul a{width: 70%;
        display: none;
    }
    .border{
        margin-top: 50px;
        margin-right: 50px;
    }
    h3{
        font-size: 24px;
        padding-top: 20px;
    }
    
    @keyframes wre0{
        0%{top:0; left:0;}
        25%{top:0; left:306px;}
        50%{top:120px; left:306px;}
        75%{top:120px; left: 0;}
        100%{top:0; left:0;}
    }
    .bigdivi{
        width: 100%;
        display: block;
        margin-top: 120px;
    }
    .line{
        display: none;
    }
    .one, .two, .three, .four{
        align-items: center;
               
    }
    .three, .four{
        flex-direction: column;
    }
    .one, .two{
        flex-direction: column-reverse;
    }
    .text{
        text-align: center;
        font-size: 16px;
        width: 300px;
        margin-bottom: 50px;


 
}
}